html {
  font-family: sans-serif;
}

body {
  height: 50vh;
  margin: 10vh 10vw;
  text-align: center;
}

h1 {
  margin-bottom: 10vh;
  font-size: 3em;
}

label,
input {
  font-size: 1.1em;
}

input {
  border-radius: 10px;
  border: 1px solid gray;
  padding: 3px 6px;
}

.success,
.failure {
  font-size: 1.2em;
}

.success {
  color: forestgreen;
}

.failure {
  color: firebrick;
}

.errmsg {
  font-family: "Courier New", Courier, monospace;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

h3 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  text-align: left;
}
