<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Codeday Song Request</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <h1>Codeday Song Request</h1>
    <form action="/queue-song" method="post">
      <label for="url">Song URL (youtube, etc): </label>
      <input name="url" required />
      <input type="submit" value="Submit" />
    </form>
    {% if status is defined and status is not none %}
      {% if status == "0" %}
        <p class="success">Success!</p>
      {% else %}
        <p class="failure">An error occurred. Is your url valid?</p>
        <p class="errmsg">{{ status }}</p>
      {% endif %}
    {% endif %}
  </body>
</html>
