<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Codeday Song Request</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <h1>Codeday Song Request</h1>
    <div id="main">
      <div>
        <form action="/queue-song" method="post">
          <label for="url">Song URL (youtube, etc): </label>
          <input name="url" required />
          <input type="submit" value="Submit" />
        </form>
        {% if ok is not none %}
          {% if ok == "0" %}
            <p class="success">Success!</p>
          {% else %}
            <p class="failure">An error occurred. Maybe check your URL?</p>
            <p class="errmsg">{{ err }}</p>
          {% endif %}
        {% endif %}
      </div>
      <div>
        {% macro songlink(url) -%}
          <a href="{{ url }}">{{ url }}</a>          
        {%- endmacro %}
        <h3>Currently Playing</h3>
        {% if playing is none %}
          <p>Nothing right now. Add something!</p>
        {% else %}
          <p>{{ songlink(playing) }}</p>
        {% endif %}
        <h3>Queue</h3>
        <ul>
          {% for song in queue %}
            <li>{{ songlink(song) }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <script>
      setTimeout(() => {
        location.replace("/");
      }, 60 * 1000);
    </script>
  </body>
</html>
